/*-- scss:defaults --*/

$h2-font-size: 1.6rem !default;
$headings-font-weight: 400 !default;
// $body-color:             !default;
// $link-color: #81A1C1;
$code-color: #4758AB;
$theme-color: #18bc9c;
$darker-theme: #006933;
$dk-border: mix(#ecf0f1, #000, 90%);

/*-- scss:rules --*/
.ex {
   color: #9c9c9c !important;
   font-style: italic;
}

div.callout-note.callout {
   border-left-color: #2780e3;
}

div.callout-note.callout-style-default > .callout-header {
      background-color: #e9f2fc;
      opacity: 85%;
}

h1:not(.title) {
   text-align: center;
   border-bottom: thick double #dee2e6;
   width: 40%;
   margin-left: 33%;
}

h2 {
   text-align: right;
   color: #18bc9c;
   font-weight: normal;
}

h3 {
   border-bottom: 1px hidden #dee2e6;
   padding-bottom: .5rem;
   font-style: italic;
   font-weight: normal;
}

h4 {
   padding-bottom: 1rem;
   font-weight: bold;
   font-size: 1.2em;
   
   &:has(.ex) {
      border-bottom: 1px solid #dee2e6;
   }
}

.u {
   text-decoration: underline;
}

.hit {
   color: mix(#4c566a, #18bc9c, 50%);
   font-style: italic;
}

.hi {
   font-weight: 600;
   color: mix(#4c566a, #18bc9c, 50%);
}

a:not(:hover, .active) {
   > code {
      color: $code-color;
   }
}

/*-- scss:function-defined rules --*/
$color-list: red, blue, green, darkgreen;
@each $col in $color-list {
   .#{$col} {
      color: $col;
   }
}

.code-out {
   border-left: 2px solid #18bc9c;
   border-radius: 0;
}

.err-out {
   border-left: 2px solid red;
   border-radius: 0;
   // color: red;
}

.msg-out {
   border-left: 2px solid #4c566a;
   color: #4c566a;
   border-radius: 0;
}

.panel-tabset, .nav-tabs {
   border-color: $dk-border;

   .nav-link {

      color: #9c9c9c;

      &:hover {
         color: $theme-color;
      } 
   }

   .nav-link.active {
      color: $darker-theme !important;
      border-color: $dk-border $dk-border #fff !important;
   }

   .tab-content {
      border-color: $dk-border;
   }
}